@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*overall*/
body {
	background-color: #f0f0f0;
	font-family: "Noto Sans", "Noto Sans TC", sans-serif;
	font-size: 20px;
	overflow: hidden;
}


/*sidebar*/
.sidebar {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 25%;
	background-color: #f2db63;
}
.logo {
	margin: 50px 0 0 0;
	position: relative;
	left: 25%;
}
.logo img {
	width: 50%;
}
.sidebar-menu {
	position: relative;
	left: 12%;
}
.sidebar-menu.list {
	margin: 40px 0 0 0;
	list-style-type: none;
}
.sidebar-menu.list li {
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0 0 25px 0;
}
.sidebar-menu.list li a {
	color: #000;
	text-decoration: none;
}
.sidebar-menu.update {
	margin: 80px 0 0 10px;
	font-size: 16px;
}


/*rightside-page*/
.rightside-page {
	position: relative;
	/*width: 75%;*/
}


/*history*/
.history-select {
	/*background-color: #fff;*/
	position: absolute;
	max-width: 45vw;
	top: 11vh;
	left: 34vw;
	/*margin: 80px 0 0 510px;*/
}
.selectbox {
	box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	min-width: 200px;
	outline-color: #f2db63;
}

.history-recordtable {
	background-color: #fff;
	position: absolute;
	top: 22vh;
	left: 30vw;
	/*margin: 160px 0 0 500px;*/
	width: 65vw;
	height: 70vh;
	font-size: 12px;
	text-align: center;
	overflow: auto;
}
.history-recordtable td {
	width: 100px;
}
.table-head {
	background-color: #f2db63;
	font-weight: bold;
}


/*analysis*/
.contition-title {
	position: absolute;
	left: 30vw;
	top: 5vh;
	font-size: 24px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	/*border-bottom: 1px solid #333;*/
	width: 65%;
	position: absolute;
	left: 30vw;
	top: 11vh;
}
ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 18px 21px;
	width: 33.333%;
	height: 50px;
	line-height: 8px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #666;
	color: #ccc;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
}
.tab_last {
	border-right: 1px solid #333;
}
ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}
ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}
.tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 65%;
	height: 75%;
	background: #fff;
	/*overflow: auto;*/
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	top: 17vh;
	left: 30vw;
}
.tab_content {
	padding: 20px;
	display: none;
}
.tab_drawer_heading {
	display: none;
}

.cond-select {
	/*background-color: #f0f0f0;*/
	margin: 25px 0 0 40px;
}
.cond-select.account {
	margin: 25px 0 0 230px;
}
.cond-select.miscon {
	font-size: 18px;
}

.cond-chart {
	/*background-color: #999;*/
	position: absolute;	
	/*border: 1px solid #999;*/
	width: 95%;
	height: 75%;
	font-size: 12px;
}
.cond-chart.account {
	margin: 25px 0 0 10px;
}
.cond-chart.game,
.cond-chart.miscon {
	margin: 25px 0 0 0;
}
.chart {
	height: 300px;
	margin: 50px auto 0;
	display: block;
}
.chart.account {
	width: 900px;
}
.chart.game,
.chart.miscon {
	width: 650px;
}
.chart .chart-numbers {
	width: 40px;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}
.chart .chart-numbers li {
	text-align: right;
	padding-right: 1em;
	list-style: none;
	height: 30px;
	border-bottom: 1px solid #444;
	position: relative;
	bottom: 30px;
}
.chart .chart-numbers li:last-child {
	height: 30px;
}
.chart .chart-numbers li span {
	color: #333;
	position: absolute;
	bottom: 0;
	right: 5px;
}
.chart .chart-bars {
	display: inline-block;
	background: rgba(0, 0, 0, 0.2);
	height: 300px;
	padding: 0;
	margin: 0;
	box-shadow: 0 0 0 1px #444;
}
.chart .chart-bars.account {
	width: 850px;
}
.chart .chart-bars.game,
.chart .chart-bars.miscon {
	width: 600px;
}
.chart .chart-bars li {
	display: table-cell;
	width: 100px;
	height: 300px;
	margin: 0;
	text-align: center;
	position: relative;
}
.chart .chart-bars li .bar {
	display: block;
	background: #556270;
	position: absolute;
	bottom: 0;
}
.chart .chart-bars.account li .bar {
	margin-left: 10px;
}
.chart .chart-bars.game li .bar,
.chart .chart-bars.miscon li .bar {
	margin-left: 75px;
}
.chart .chart-bars.account li .bar {
	width: 10px;
}
.chart .chart-bars.game li .bar, 
.chart .chart-bars.miscon li .bar {
	width: 50px;
}
.chart .chart-bars li .bar:hover {
	background: #fff;
	/*opacity: 0.7;*/
	cursor: pointer;
}
.chart .chart-bars li .bar:hover:before {
	color: #556270;
	content: attr(data-percentage) '%';
	position: relative;
	bottom: 20px;
}
.chart .chart-bars.account li .bar:hover:before {
	left: -0.5em;
}
.chart .chart-bars li span {
	color: #333;
	width: 100%;
	position: absolute;
	text-align: center;
}
.chart .chart-bars.account li span {
	-webkit-transform: rotate(-45deg);    /* for Chrome || Safari */
	-moz-transform: rotate(-45deg);       /* for Firefox */
	-ms-transform: rotate(-45deg);        /* for IE */
	-o-transform: rotate(-45deg);         /* for Opera */
	left: 0;
	bottom: -2.5em;
}
.chart .chart-bars.game li span {
	left: 4em;
	bottom: -2em;
}
.chart .chart-bars.miscon li span {
	/*background-color: #f0f0f0;*/
	left: 6em;
	bottom: -4.5em;
	width: 55px;
}
.y-axis-mark {
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	position: absolute;
	background-color: #999;
	color: #fff;
	padding: 6px 3px;
	letter-spacing: 1px;
	top: 21vh;
}
.y-axis-mark.account {
	left: -5px;
}
.y-axis-mark.game,
.y-axis-mark.miscon {
	left: 8vw;
}
.x-axis-mark {
	position: absolute;
	background-color: #999;
	color: #fff;
	padding: 3px 6px;
	letter-spacing: 1px;
}
.x-axis-mark.account {
	margin: 40px 0 0 445px;
}
.x-axis-mark.game {
	margin: 30px 0 0 455px;
}
.x-axis-mark.miscon {
	margin: 55px 0 0 455px;
}


/*account*/
.account-select {
	/*background-color: #fff;*/
	position: absolute;
	max-width: 50vw;
	/*margin: 80px 0 0 680px;*/
	top: 11vh;
	left: 46.5vw;
}
.account-recordtable {
	background-color: #fff;
	position: absolute;
	top: 22vh;
	left: 46vw;
	width: 33vw;
	height: 70vh;
	font-size: 14px;
	text-align: center;
	overflow: auto;
}
.account-recordtable td {
	width: 150px;
}